body {
  background: rgb(243, 245, 245);
}

.wraprow1 {
  background-color: white;
  padding: 15px;
  width: 1024px;
  margin: 0 auto;
}
.wrapper-white {
  background-color: white;
}

/* .wrapblock {
  display: flex;
  flex-wrap: wrap;
  width: 860px;
  margin: 0 auto;
  margin-top: 20px;
} */

.textDescription {
  line-height: 1.65;
  color: rgb(210, 211, 211);
}
.logo {
  height: 50px;
}

.header {
  height: 80px;
  background-color: white;
  border-bottom: solid 0.5px #59c9bc;
  display: flex;
  align-items: center;
  /* position: fixed;
  width: 100%;
  top: 0;
} */
}

.photomain {
  height: 160px;
  border-radius: 10px;
}

.title {
  font-size: 28px;
  color: black;
  font-weight: bold;
}

.restaurantrow {
  display: flex;
  align-items: center;
}

.logoblock {
  width: 1024px;
  margin: 0 auto;
}

.miniphoto {
  height: 100px;
  width: 100px;
  object-fit: cover;

  border-radius: 5px;
}

.brunchblock {
  background-color: white;
  display: flex;
  width: 290px;
  height: 180px;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
  /* margin-right: 30px; */
  margin-bottom: 30px;
}

.brunchdescription {
  color: rgb(161, 163, 163);
  padding-right: 15px;
}

.brunchrow {
  display: flex;
}
.foodblock {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.priceetquality {
  display: flex;
  align-items: center;
}

.brunchprice {
  margin-right: 20px;
}

.blockpic {
  display: flex;
  align-items: center;
}

.panierblock {
  height: 180px;

  padding-top: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.3);
}

.panierbutton {
  display: flex;
  justify-content: center;
  width: 250px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 23px;
  color: whitesmoke;
  background-color: #59c9bc;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.panierbutton:hover {
  color: #59c9bc;
  background-color: white;
  border: 1px solid #59c9bc;
}

.status {
  display: flex;
  align-items: center;
  padding-top: 80px;
  /* border: 2px solid red; */
  font-size: 16px;
}

.main {
  display: flex;
  width: 1024px;
  margin: 0 auto;
}

.colpan {
  margin-top: 50px;
  margin-left: 30px;
}
